/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/10/2019, 10:02:30
    Author     : alissoncarvalho
*/

header{
    height: 80px;
}

nav{
    z-index: 1;
}

.janela{
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 25px;    
}

.aula-item{
    color: #343A40;
    padding: 5px;
    margin-right: 5px;
    border: 1px double #333;
    border-radius: 10px;
}
.aula-item a{
    color: #343A40;
}

.bg-danger{
    
}

.bg-success{
    
}

.aula-area{
    display: flex;
    flex-flow: wrap;
}

.mostrar{
    display: block !important;
}

.info-barra{
    height: 40px;
    width: 100%;
    background-color: #ddd;
    font-weight: bold;
    font-size: 20px;
}


/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 320px) { 
    header{
        height: 60px;
        display: flex;        
    }
    nav{
        width: 100%;
    }
    .calendario{
        width: 100%;
    }
    
    .menu-calendar{
        background-color: #ddd;
    }

    .setas{
        color: #666;
        font-size: 20px;        
        padding: 0 !important;
        margin: 0 !important;
    }

    .setas:hover, .setas2:hover{
        color: #333;
        text-decoration: none !important;
    }

    .calendar{
        position:relative;
        left:0;
        top:0;
        display:none;
        /*transition: all ease .5s;*/
    }

    th{
        padding: 0 !important;
        font-size: 18px;
    }

    tr{
        height: 30px;
    }

    td a{
        display: block;        
    }

    td .icone-calendar{
        color: white;
    }
    td .data-calendar{
        left: -1px;
        top: -3px;
        position: relative;
        color: #aaa;
        font-size: 10px;    
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 576px) {
    header{
        height: 60px;
    }
    .setas{
        color: #666;
        font-size: 20px;        
    }

    .setas:hover, .setas2:hover{
        color: #333;
        text-decoration: none !important;
    }
    
    .menu-calendar{
        background-color: #ddd;
        display: flex;
        justify-content: space-between;
    }

    .calendar{
        position:fixed;
        width: 70%;
        left:0;
        top:61px;
        display:none;
        /*transition: all ease .5s;*/
        border-radius: 5px;
    }

    th{
        font-size: 20px;
    }

    tr{
        height: 60px;
    }

    td a{
        display: block;        
    }

    td .icone-calendar{
        color: white;
        font-size: 25px;
    }
    td .data-calendar{
        left: -1px;
        top: -3px;
        position: relative;
        color: #aaa;
        font-size: 15px;    
    }
}

/* Medium devices (tablets, less than 992px) */
/*
@media (min-width: 768px) { 

}
*/

/* Large devices (desktops, less than 1200px)*/
/*
@media (min-width: 992px) { 

}
*/