/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/10/2019, 10:02:30
    Author     : alissoncarvalho
*/

header{
    height: 80px;
}

.janela{
    position: absolute;
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 25px;    
}




/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 320px) { 
    header{
        height: 60px;
    }
    nav{

    }
    .calendario2{
        width: 100%;
    }

    .setas{
        color: #666;
        font-size: 50px;        
    }

    .setas:hover, .setas2:hover{
        color: #333;
        text-decoration: none !important;
    }

    .calendar{
        position:fixed;
        left:0;
        top:61px;
        display:none;
        transition: all ease .5s;    
    }

    th{
        font-size: 40px;
    }

    tr{
        height: 100px;
    }

    td a{
        display: block;        
    }

    td .icone-calendar{
        color: white;
        font-size: 50px;
    }
    td .data-calendar{
        left: -1px;
        top: -3px;
        position: relative;
        color: #aaa;
        font-size: 30px;    
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 568px) { 
    .setas{
        color: #666;
        font-size: 30px;        
    }

    .setas:hover, .setas2:hover{
        color: #333;
        text-decoration: none !important;
    }

    .calendar{
        position:fixed;
        width: 70%;
        left:0;
        top:61px;
        display:none;
        transition: all ease .5s;    
    }

    th{
        font-size: 20px;
    }

    tr{
        height: 60px;
    }

    td a{
        display: block;        
    }

    td .icone-calendar{
        color: white;
        font-size: 25px;
    }
    td .data-calendar{
        left: -1px;
        top: -3px;
        position: relative;
        color: #aaa;
        font-size: 15px;    
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { 

}